<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div>
            <div class="col-sm-12 col-md-7 col-lg-7 parte1">
                <h1>Pagina Web</h1>
                <p>Pagina Web hecha con aptugo, en un curso de diseño web donde se enseñaba a utilizar la herramienta aptugo, donde podias crear una pagina web sin necesidad de saber programacion. El proyecto se puede ver con el siguiente link https://tapiceria_petino.aptugo.app/</p>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
                <img src="../../../assets/logo.png" class="img-fluid img-proyecto" >
            </div>
        </div>
    </div>
</div>
