<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logoAP">
        </div>
        <div class="redes">
            <a href="https://www.linkedin.com/in/franco-petino-9a0766276/"><img src="../../../assets/linkedin.png" id="linkedin"></a>
            <a href="https://twitter.com/FrancoP2607"><img src="../../../assets/twitter.png" id="twitter"></a>
            <a href="https://instagram.com/francop.2607?igshid=ZGUzMzM3NWJiOQ=="><img src="../../../assets/instagram.png" id="instagram"></a>
            <a href="https://github.com/FrancoP26"><img src="../../../assets/github.png" id="github"></a>
            <a href="https://www.facebook.com/franco.petino"><img src="../../../assets/facebook.png" id="facebook"></a>
            <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INGRESO</button>
            <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESION</button>
        </div>
    </div>
</div>

