<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-11"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Trabajo1</h1> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam animi tempore explicabo adipisci sunt nihil pariatur dolores vel cum incidunt exercitationem nostrum est quas, eos distinctio iste, quidem soluta eligendi.
            </p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo2</h1> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam animi tempore explicabo adipisci sunt nihil pariatur dolores vel cum incidunt exercitationem nostrum est quas, eos distinctio iste, quidem soluta eligendi.
            </p>
        </ul>
    </div>
</div>
